.home-header

.container{
margin-top:20px;
width:100%
}

.container-header{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:black;
    color:white;
    font-size:25px;
}

.container-img{
display:flex;
justify-content: space-around;
border: 1px solid black;
}

.container-img img{
margin-top:5px;
margin-bottom:5px;
width:300px;
height:225px;
}