.home-header

.container{
margin-top:20px;
width:100%
}

.container-header{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:black;
    color:white;
    font-size:25px;
}

.container-img{
display:flex;
justify-content: center;
flex-wrap: wrap;
border: 1px solid black;
width:100%;
}

.container-img img{
margin-top:5px;
margin-bottom:5px;
margin-right:5px;
width:auto;
height:100px;
}

.bigImage{
    margin-top:50px;
    width:100%
}

.bigImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.status-bigImage{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15px;
    margin-bottom:30px;
}

.status-bigImage p{
    margin-right:15px;
    color:grey;
    font-size: 20px
}
.status-bigImage a{
    margin-left:15px;
}