#user-albums{
    display: flex;
    justify-content: center;
}

.album-user-div{
 text-align: center;
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin: 5px;
}

.album-user-div p{
    background = blue;
    color: white:
}





