{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/inici.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Inici</title>
</head>

<body style="background-color:black;">
    <div class="header-one">
        <p>Benvingut a l'àlbum dels teus records</p>
    </div>
    <div class="header-two">
        <p>Entra a l'estudi</p>
        <a class="btn btn-primary" href="accounts/login/">Comença</a>
    </div>
</body>

</html>