{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fotografíes</title>
    <link rel="stylesheet" href="{% static 'styles/photo_list.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class = 'container'>
    <div class = container-header>
        <p>Selecciona les imatges que més t'agradin per l'album</p>
    </div>
    <div class="container-img">
        {% for image in images %}
        <a href="{% url 'photo_main_big' pk=image.pk %}"><img id='{{image.id}}' src="{{ image.photo.url }}" alt=""></a>
        {% endfor %}
    </div>
</div>

<div class="bigImage">
    {% if image_big %}
        <img id={{image_big.id}} src="{{image_big.photo.url}}" alt="">
    {% endif %}

    <div class="status-bigImage">
        {% if image_big.selected %}
        <p>Foto <strong>Si</strong> seleccionada</p>
        <a class="btn btn-primary" style="background:red; width:150px; font-size:18px;" href="{% url 'add_delete_photo' pk=image_big.pk %}">Treu-la</a>
        {% else %}
        <p>Foto <strong>No</strong> seleccionada</p>
        <a class="btn btn-primary" style="background:green; width:150px; font-size:18px" href="{% url 'add_delete_photo' pk=image_big.pk %}">Afegeix-la</a>
        {% endif %}
    </div>

</div>
    <script src="{% static 'javascript/photo_list.js' %}"></script>
</body>
</html>
